body {
    background-color: #000;
    font-family:'Calibri';
}

iframe {
    border:2px solid #418FDD;
    width: 30%;
    aspect-ratio: 16/9;
    margin: 10px;
}

/* links list */
#infoMenu{
    position: absolute;
	bottom: 2%;
    right: 0%;
	position: fixed;
	z-index: 70;
	margin: 0;
}
#infoMenu li a{
	display: block;
	margin: 0 2em 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:none;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
/* project name */
h1 {
    padding-left: 2%;
    text-align: left;
    color: #418FDD;
}
/* project description */
h3 {
    padding-left: 2%;
    text-align: left;
    color: grey;
}
/* project details */
.info {
    text-align: left;
    padding-left: 2%;
    color: white;
    width: 40%;
    text-align: justify;
    line-height: 1.25em;
}
p { 
    text-align: left;
    padding-left: 2%;
    color: white;
}

/* links */
a:link {
    color: darkgray;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

/* backgrounds */
.s21{
    background: url('../media/tb3_rev.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 250%;
}
.s22{
    background: url('../media/adas.gif');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 100%;
}
.s23{
    background: url('../media/r6_rev.gif');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160%;
}
.s11{
    background: url('../media/do14.gif');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100%;
}
.s12{
    background: url('../media/automotive.gif');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 70%;
}
.s13{
    background: url('../media/automotive.gif');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 70%;
}
.s14{
    background: url('../media/datalogger2.2_fr.gif');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 150%;
}
.s31{
    background: url('../media/boeing_p3.gif');
    background-size: 90%;
    background-position: 250%;
    background-repeat: no-repeat;
}
.s32{
    background: url('../media/sae.gif');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 250%;
}
.s33{
    background: url('../media/speedy_g.gif');
    background-size: 90%;
    background-position: 250%;
    background-repeat: no-repeat;
}
.s34{
    background: url('../media/foomie.gif');
    background-size: 90%;
    background-position: 250%;
    background-repeat: no-repeat;
}
.s35{
    background: url('../media/ft.gif');
    background-size: 90%;
    background-position: 250%;
    background-repeat: no-repeat;
}
.s41{
    background: url('../media/plotter.gif');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100%;
}
.s42{
    background: url('../media/smartwatch.gif');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100%;
}
.s51{
    background: url('../media/blender_logo.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 80%;
}
.s52{
    background: url('../media/r6_rev.gif');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 160%;
}
.s53{
    background: url('../media/3d_printer.gif');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 80%;
}
.s61{
    background: url('../media/automotive.gif');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 70%;
}
.s62{
    background: url('../media/automotive.gif');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 70%;
}
.s62{
    background: url('../media/coding.gif');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 70%;
}
.s71{
    background: url('../media/2jz_colored_s_better.gif');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 80%;
}
.section{
    z-index: 0;
    padding-top: 0px !important;
    margin-top: 0% !important;
    height: 100% !important;
}

/* fullpage utils */
#fullpage{
    z-index: 0;
    height: 100%;
    position: relative;
}
span {
    background: #418FDD !important;
}
.fp-slidesNav.fp-bottom {
    text-align: center;
}
.fp-tooltip.fp-right {
    color: white !important;
}
.feat {
    color: lightgrey;
    margin-left: 10px;
}